.nav-box {
    background: linear-gradient(0deg, var(--bg-bright) 0%, var(--bg) 50%);
    position: relative;
}

* {
    font-weight: normal;
}

.contact {
    margin: 1em auto 0;
    width: 95%;
}

.contact h2 {
    padding-left: 0.25em;
}

/* FORM {{{ */
form {
    background-color: var(--bg-bright);
    background: radial-gradient(
        circle,
        rgba(29, 32, 33, 1) 0%,
        rgba(60, 56, 54, 1) 90%
    );
    padding: 0.5em;
    margin-top: 1em;
}

form p {
    border: none;
    padding-bottom: 1.5em;
    max-width: 100%;
}

form label {
    font-size: 0.75em;
}

form input {
    font-size: 1em;
    border-radius: 4px;
    background: var(--bg);
}

form textarea {
    font-size: 1em;
    background: var(--bg);
    resize: none;
}

form input,
textarea {
    color: var(--fg);
}

form p .description .include {
    font-size: 0.75em;
}

form .btn {
    margin: 0;
}
/* FORM }}} */

iframe {
    width: 100%;
}

address {
    padding: 2em 0;
}

.hours {
    margin: 1em 0 5em;
}
