.image-container {
    background-image: url('../assets/gallery/header_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    transition: transform 0.25s;
    min-height: 36vh;
    opacity: 0.5;
}

main {
    margin-bottom: 4em;
}

main img {
    width: 100%;
}
