.nav-box {
    background: linear-gradient(0deg, var(--bg-bright) 0%, var(--bg) 50%);
}

.image-container {
    background-image: url('../assets/branding/invert-skull.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    transition: transform 0.25s;
    min-height: 36vh;
    opacity: 0.8;
}

.about {
    padding-bottom: 1em;
}

main {
    padding-bottom: 3em;
}

main li {
    font-size: 1.125em;
}

.fa-file-pdf {
    color: #9d0006;
    padding-right: 0.5em;
    opacity: 0.667;
}

.makes {
    padding-bottom: 2em;
}
